<% if @studios.any? %>
  <% @studios.all.each do |studio| %>
    <h2><%= link_to studio.name, studio_path(studio) %></h2>
  <% end %>
<% else %>
  <h1>No studios yet</h1>
<%end%>

<a href="/studios/new">Add a studio</a>
